

.footer {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  margin: 0 auto;
  opacity: 0.72;
  padding: 0;
  text-align: center;
  width: min(calc(100% - (var(--page-gutter) * 2)), var(--container-width));
  color: var(--footer-text-color);
}
